<div class="widget story-tree">
<h3>Story tree navigator</h3>
<div class="story-list">
  <ol>
  <% if @story.placemarks.count >= 1 %>
   <% @story.placemarks.each do |placemark| %>
   <% if placemark.id %>
    <li><%= link_to placemark.name, edit_story_placemark_path(@story, placemark) %></li>
    <% end %>
   <% end %>
  <% end %>
    <li class="current-placemark">Current Placemark</li>
  </ol>
</div>
</div>
<script>
  $(".story-list").scrollTop($(".story-list")[0].scrollHeight);
</script>