<p>
  Placemark Story is the easiest way to create and share interactive map stories. Add content piece-by-piece and assign coordinates to each section through the easy to use interface.
 </p>
 <p>
  Placemark Story transforms your content into beautiful interactive map stories in the format of your choosing, which can be shared with just a click.
 </p>
 <p>
  Placemark Story is open source software; even if you'd rather not contribute to the repo, you are encouraged to dig into the code of your own map stories and customize them to your hearts content.
</p>