<h2>Tell Your Story With Spatial Impact</h2>
<div class="welcome">
  <p>
    Placemark Story is the easiest way to create and share beautiful interactive map stories.
  </p>
  <p>
    Simply add content piece-by-piece and assign coordinates to each section through the easy to-use-interface.
  </p>
</div>