<h2>Tell Your Story With Spatial Impact</h2>
<p class='welcome'>
  Placemark Story is the easiest way to create and share beautiful interactive map stories.
</p>
<p class='welcome'>
  Simply add content piece-by-piece and assign coordinates to each section through the easy to-use-interface.
</p>