<div class='alert blue-alert'>
  <h3>Guest user notice:</h3>
  <p>
    Only registered users can permanently store their stories to this gallery; this is the only way we can keep everyone's maps separated. <strong>When you register, any maps you've been working on will be brought over to your new account.</strong>
  </p>
    <%= link_to 'Login', new_user_session_path, class: 'a-button'  %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'a-button'  %>
</div>