<div class='alert blue-alert new-blue-alert'>
  <h3>Guest user notice:</h3>
  <p>
    As a guest user, you may create and share maps without restriction, and you will be able to return to completed maps for 7 days by saving their unique URL. However, to permanently save maps to your personal gallery, you must login with an account. <strong>When you register, any maps you've worked on will be brought over to your new account.</strong>
  </p>
    <%= link_to 'Login', new_user_session_path, class: 'a-button' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'a-button' %>
</div>