<div class='alert blue-alert'>
  <h3>Guest user notice:</h3>
  <p>
    As a guest user, you may return to this map at any time within the next 7 days by accessing the URL listed above. However, to permanently save maps to your personal gallery, you must login with an account. <strong>When you register, this map will be brought over to your new account along with anything else you've worked on during this session.</strong>
  </p>
    <%= link_to 'Login', new_user_session_path, class: 'a-button'  %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'a-button'  %>
</div>