<h2>View Map Stories</h2>
<div class="view-stories">
  <% @stories.each do |story| %>
    <div class="story">
      <%= link_to story.name, story_path(story) %>
      <p>Description: <%= story.description %></p>
    </div>
  <% end %>
</div>