<h2>Stories</h2>
<ul>
  <% @stories.each do |story| %>
  <li>
    <span><%= link_to story.name, story_path(story) %></span>
    <span><%= link_to "(delete)", story_path(story), method: :delete %></span>
  </li>
  <% end %>
  <li><%= link_to "Create New Story", new_story_path %></li>
</ul>