<% if @story.errors.any? %>
<ul>
  <% @story.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @story do |f| %>
  <%= f.text_field :name, :placeholder=> "Enter new story name", :autofocus=> true , :autocomplete=> :off %>
  <%= f.submit %>
<% end %>