/*---image uploader styles -*/
.image-editor .cropit-image-preview {
  width: 18rem;
  height: 10.125rem;
  display: table-cell;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  background: rgb(242, 242, 242);
  background-size: cover;
  cursor: move;
}

.image-editor .image-widget-container {
  width: 100%;
  display: table;
}

.image-editor .image-controls {
  margin-left: 0.25rem;
  display: table-cell;
  float: right;
}

.image-editor .select-image-button {
  width: 95%;
  float: right;
  margin-bottom: 1.5rem
}

.image-editor .image-size-label {
  float: left;
  font-weight: 600;
  margin: -.6rem .75rem .75rem 1.5rem;
}

.image-editor .cropit-image-zoom-input {
  width: 55%;
  height: 1px;
  float: right;
  margin-right: .5rem;
  padding: 0;
  box-shadow: inset 0 0 1px 1px rgb(0, 150, 150);  
}

.image-editor .cropit-image-zoom-input::-webkit-slider-thumb {
  -webkit-appearance: none !important;  
  width: 1.5rem;
  height: 1rem;
  background: rgb(191, 242, 255);
  border: 1px solid rgb(0, 169, 216);
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px rgb(0, 150, 150);
}

.image-editor .cropit-image-zoom-input::-webkit-slider-thumb:hover {
  -webkit-appearance: none !important;  
  background: rgb(0, 255, 255);
}

.image-editor .image-alt {
  width: 95%;
  height: 4.4rem;
  float: right;
}

.image-editor input.cropit-image-input {
  display: none;
}

.image-editor .cropit-image-zoom-input[disabled] {
  opacity: .2;
}