/* ----- Story Entry Styles ----- */

.placemark-entry {
	clear: left;
}

.placemark-entry input, .placemark-entry textarea {
  width: 28.5rem;
  margin: 0 0 .75rem 0;
}

.placemark-entry textarea {
  height: 2.3rem;
}

.placemark-entry .link{
  height: 1.2rem;
  margin: 0 0 1rem 0;
}