/*---story tree styles -*/
.story-tree {
  width: 47%;
  min-width: 31.55rem;
  margin: 0 0 1rem 1rem;
}

.story-tree .story-list {
  height: 8.1rem;
  padding: 1rem;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  overflow: auto;
}

.story-tree ol {
  counter-reset: li;
}

.story-tree ol > li {
  margin: 0 0 3px 0;
  border-radius: 5px;
  list-style: none;
}

.story-tree ol a, .story-tree ol>li.current-placemark {
  display: block;
  margin: 0 0 0 2.5rem;
  padding: .4rem .6rem .4rem .6rem;
  border-radius: 5px;
  color: rgb(85, 85, 85);
  background: rgb(242, 242, 242);
  letter-spacing: .05rem;
  text-decoration: none;
}

.story-tree ol a:hover {
  color: rgb(0, 0, 0);
  background: rgb(216, 216, 216);
  text-decoration: underline;
}

.story-tree ol > li:before {
  content: counter(li);
  counter-increment: li;
  float: left;
  padding: .4rem .9rem .5rem .9rem;
  border-radius: 5px;
  background: rgb(226, 248, 255);
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 150, 150, 1); 
}

.story-tree ol>li.current-placemark {
  margin: 0;
  background: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 5px 1px rgba(0, 150, 0, 1); 
}

.story-tree ol > li.current-placemark:before {
  content: none;
}