/* ----- Story Tree Styles ----- */

.story-tree {
  clear: none;
  height: 20rem;
}

.story-list {
  height: 11.25rem;
  padding:1rem;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  overflow: auto;
}

ol {
  counter-reset: li;
}

ol > li {
  margin: 0 0 3px 0;
  border-radius: 5px;
  list-style: none;
}

ol a, ol>li.current-placemark {
  display: block;
  margin:0 0 0 2.5rem;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
  letter-spacing: .05rem;
  text-decoration:none;
  color: #555;
  background-color: #f2f2f2;
}

ol a:hover {
  color: #000;
  background-color: #d8d8d8;
  text-decoration: underline;
}

ol > li:before {
  content: counter(li);
  counter-increment: li;
  float: left;
  padding: .4rem .9rem .5rem .9rem;
  border-radius: 5px;
  background-color: #e2f8ff;
  font-weight: bold;
  text-align: center;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 150, 150, 1); 
}

ol>li.current-placemark {
  margin: 0;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px 1px rgba(0, 150, 0, 1); 
}

  ol > li.current-placemark:before {
  content: none;
}