/* ----- Story Entry Styles ----- */

.story-entry {}

.story-entry input, .story-entry textarea {
  width: 28.5rem;
  margin: 0 0 .75rem 0;
}

.story-entry textarea {
  height: 2.3rem;
}

.story-entry .link{
  height: 1.2rem;
  margin: 0 0 1rem 0;
}