/*-----icon styles-----*/
@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot');
  src:url('/assets/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/icomoon.woff') format('woff'),
    url('/assets/icomoon.ttf') format('truetype'),
    url('/assets/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Content Styles*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 12px;
}

body {
  display: table;
  width: 70%;
  clear: both;
  margin: 6rem auto 0 auto;
  box-shadow: 10px 10px 5px #888888;
}

.left-logo {
  /*background-color: green;*/

  display: table-cell;
  width: 100px;
  height: 100%;
  background-image: url("http://dl.dropboxusercontent.com/u/7989543/logos/resized/electric.png");
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.right-content {
  /*background-color: red;*/

  display: table-cell;
  padding: .5rem 0 0 2.25rem;
}

header h1 {
  font-size: 4.15rem;
  margin: 0;
}

header h1 .title-word1 {
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: lowercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

header h1 .title-word2 {
  margin: 0 0 0 .25rem;
  font-weight: 100;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0, 150, 150, 1);
}

nav {
  padding: 0 0 1rem 0;
}

nav ul {
  color: #000;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: .14rem;
  list-style-type: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

nav li {
    display: inline;
}

nav li + li::before {
  content: " | ";
}

nav li a {
  margin: 0 .25rem 0 0.25rem;
  color: #000;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.current_page{
  /*text-decoration:underline;*/
  text-shadow: 0px 0px 5px rgba(0, 150, 150, 1);
}

p {
  margin: 1rem 0 0 .25rem;
}