/* ----- Icon styles ----- */
@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot');
  src:url('/assets/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/icomoon.woff') format('woff'),
    url('/assets/icomoon.ttf') format('truetype'),
    url('/assets/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e9da";
  color:#ff0000;
}

/* ----- Content Styles ----- */
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 12px;
}

body {
  display: table;
  width: 90%;
  clear: both;
  margin: 2rem auto 0 auto;
  padding: 0 0 0 3rem;
}

.right-content {
  display: table-cell;
  padding: .5rem 0 0 2.25rem;
}

p {
  margin: 1rem 0 0 .25rem;
}

h2, footer {
  width: 85%;
  max-width: 85rem;
  min-width: 64.75rem;
  clear:left;
  float:left;
  color: #fff;
  background-color: #1975e5;
  border: 1px solid #012766;
  border-radius: 5px;
  margin: 1rem 0 1rem 0;
  padding: .5rem 1rem .5rem 1rem;
}

h2 {
  font-size:1.4rem;
  font-weight: 400;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

footer {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .15rem;
  text-align: right;
  text-transform: lowercase;
}

footer .icon-heart:before {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

footer a {
  color:#fff;
  text-decoration: none
}

footer a:hover {
  text-decoration: underline
}

/* ----- Logo/Header Styles ----- */
.left-logo {
  display: table-cell;
  width: 100px;
  height: 100%;
  background-image: url("electric.png");
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

header h1 {
  font-size: 4.15rem;
  margin: 0;
}

header h1 .title-word1 {
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: lowercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

header h1 .title-word2 {
  margin: 0 0 0 .25rem;
  font-weight: 100;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0, 150, 150, 1);
}

/* ----- Responsive Styles ----- */
@media all and (max-width: 1050px) {
  h2, footer {
    width: 70%;
    min-width: 30.5rem;
  }
}

@media all and (max-width: 675px) {
  body {
    margin: 2rem auto 0 0;
  }
  h2 {
    font-size: 1rem;
  }
  .left-logo {
    display: none;
  }
}

/* ----- Nav Styles ----- */
nav {
  padding: 0 0 1rem 0;
}

nav ul {
  color: #000;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: .14rem;
  list-style-type: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

nav li {
  display: inline;
}

nav li + li::before {
  content: " | ";
}

nav li a {
  margin: 0 .25rem 0 0.25rem;
  color: #000;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

/* ----- Form Styles ----- */
.widget, .widget h3,
input, textarea, button, input[type="submit"] {
  float: left;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: .75rem 1rem .75rem 1rem;
  font-size: 1rem;
}

.widget {
  width: 30.55rem;
  margin: 0 1.5rem 1rem 0;
  padding: 0 1rem 0 1rem;
}

.widget h3 {
  float: none;
  border: 1px solid #00a9d8;
  padding: .75rem;
  margin: 1rem 0 1rem 0;
  font-size:1rem;
  background-color: #aaebff;
}

input {
  width: 30.55rem;
  background-color: #fff;
}

input:focus, textarea:focus,
button:focus, input[type="submit"]:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

textarea {
  clear:left;
  width: 30.55rem;
  height: 10rem;
  margin: .5rem 1.5rem 1rem 0;
  background-color: #ffffff;
  resize: none;
}

button, input[type="submit"] {
  margin: .5rem 0 .5rem 0;
  color: #555;
  background-color: #f2f2f2;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-align: center;
}

button:hover, input[type="submit"]:hover {
  color: #000;
  background-color: #d8d8d8;
  border-color: #5a5a5a;
}

.save-buttons {
  clear: left;
  float: left;
}

.save-buttons input[type="submit"] {
  width: 15.55rem;
  margin: 0 1.5rem 0 0;
}

/* ----- New Story Styles ----- */
 input[type="submit"].new-story {
  width: auto;
  clear: left;
  margin: 1rem 0 0 0;
}

textarea.new-story {
  margin-bottom: 0; 
}
