/*-----icon styles-----*/
@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot');
  src:url('/assets/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/assets/icomoon.woff') format('woff'),
    url('/assets/icomoon.ttf') format('truetype'),
    url('/assets/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Content Styles*/
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 12px;
}

body {
  display: table;
  width: 70%;
  clear: both;
  margin: 6rem auto 0 auto;
}

.right-content {
  /*background-color: red;*/

  display: table-cell;
  padding: .5rem 0 0 2.25rem;
}

p {
  margin: 1rem 0 0 .25rem;
}

.placemarks ul {
  padding: 0 0 0 2rem;
}
}
.placemarks>ul>li {
  margin: 0 0 0 3rem;
}

/*Logo/Header Styles*/
.left-logo {
  /*background-color: green;*/

  display: table-cell;
  width: 100px;
  height: 100%;
  background-image: url("electric.png");
  background-position: top right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

header h1 {
  font-size: 4.15rem;
  margin: 0;
}

header h1 .title-word1 {
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: lowercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

header h1 .title-word2 {
  margin: 0 0 0 .25rem;
  font-weight: 100;
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0, 150, 150, 1);
}

/*Nav Styles*/
nav {
  padding: 0 0 1rem 0;
}

nav ul {
  color: #000;
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: .14rem;
  list-style-type: none;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

nav li {
    display: inline;
}

nav li + li::before {
  content: " | ";
}

nav li a {
  margin: 0 .25rem 0 0.25rem;
  color: #000;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.current_page{
  /*text-decoration:underline;*/
  text-shadow: 0px 0px 5px rgba(0, 150, 150, 1);
}

#about nav li .about > a {
  pointer-events: none;
  cursor: default;
}

/*Form Styles*/
label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin: 1.5em 0 0.75em 0;
}

input {
  float:left;
  width: 30.55rem;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: .75rem 1rem .75rem 1rem;
}

input:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

textarea {
  clear:left;
  float:left;
  width: 30.55rem;
  height: 10rem;
  font-size: 1rem;
  background-color: #ffffff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  padding: .75rem 1rem .75rem 1rem;
  margin:.5rem 1rem 1rem 0;

    resize: none;

}

input[type="submit"] {
  float:left;
  color: #555555;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-align: center;
  width:auto;
  padding: .75rem 1rem .75rem 1rem;
  margin: .5rem 0 .5rem 0;
}

input[type="submit"]:hover {
  border-color: #5a5a5a;
}

.new_story input {

}
.new_story input[type="submit"] {

  margin: 0 0 0 .5rem;
}


/*.next_placemark{
  clear:left;
}*/


/*Map Styles*/
#map {
  
  position: relative;
  width: 32.55rem;
  height: 15rem;
  margin:0;

}

pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  right:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  z-index:999;
}

/*Image Upload Styles*/
.cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 150px;
  height: 100px;
  cursor: move;
}
.cropit-image-background {
  opacity: .2;
  cursor: auto;
}
.image-size-label {
  margin-top: 10px;
}
input {
  display: block;
}
button[type="submit"] {
  margin-top: 10px;
}
#result {
  margin-top: 10px;
  width: 400px;
}
#result-data {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/* Hide default file input button if you want to use a custom button */
/*input.cropit-image-input {
  visibility: hidden;
}*/

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}
